p{
    line-height:1;
    letter-spacing: 0.01em;
}


/*=====TOP=====*/
.top-mc{
    margin: 0 auto;
    margin-top: 13%;
    margin-bottom: 13%;
    padding: 31px 4%;
}
.top-contents{
    margin: 10% 0;
}
.top-menu{
    display: block;
}
.top-menu-l{
    float: left;
    padding: 10% 0;
/*    width: 23%;*/
}
.top-menu-r{
    float: right;
    padding: 10% 0;
/*    width: 20%;*/
}
.top-maintitle{
    width: 48%;
    display: block;
    margin-bottom: 6%; /*18px*/
}
.top-subtitle{
    width: 52%;
    clear: both;
    display: block;
}
.top-pagetitle{
    height: 20px;
    display: block;
}
.top-menu-l :not(#page-title-last){
    margin-bottom: 20%;
}
.top-menu-r :not(#page-title-last){
    margin-bottom: 20%;
}
.top-dummy{
    width: 45%;
    display: block;
    margin: auto;
}
.top-line2{
    clear: both;
    margin-bottom: 3px;
}

/*=====共通=====*/
.header-page-title-box{
    margin-left: 5%;
}
.header-page-title{
    font-size: 4em; /*32px*/
    background: #191919;
    color: #fff;
    display: inline-block;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
.maintitle{
    margin-left: 5%;
    margin-top: 50px;
    width: 48%;
    display: block;
    margin-bottom: 4%; /*18px*/
}
.title-eng{
    font-size: 4.2em; /*32px*/
    font-weight: bold;
}
.works-detail-tx-main{
    font-size: 4.2em; /*32px*/
    font-weight: bold;
}
.works-detail-tx-sub-sp{
    font-size: 1.3em; /*16px*/
    line-height: 130%;
}
.title-jp{
    font-size: 4.1em; /*31px*/
    font-weight: bold;
}
.subtitle-eng{
    font-size: 2em; /*15px*/
    font-weight: bold;
}
.body-text{
    font-size: 2em; /*17px*/
    line-height: 185%;
    letter-spacing: 0.01em
}
.info-eng{
    font-size: 2.2em; /*16px*/
    line-height: 165%;
}
.info-tag{
    font-size: 2em; /*16px*/
    line-height: 160%;
    font-weight: bold;
    margin-bottom: 3%;
}
.personal-info{
    font-size: 2.5em; /*16px*/
    line-height: 165%;
    margin-top: 3%;
}
.info-eng-link{
    font-size: 1em; /*32px*/
    line-height: 150%;
    color: #00f;
}
.bio-year-2{
    font-size: 2.2em; /*32px*/
    line-height: 150%;
    padding-right: 20px;
}
.bio-year{
    opacity: 0.45;
    font-weight: bold;
    font-size: 2.3em; /*15px*/
}
p{
    color: #191919;
}

.header-change{
    width: 12%;
    margin-left: 5%;
    position: fixed;
    top: 50px;
}
.header-change-img{
    width: 100%;
}


/*---side menu---*/


/*=====about=====*/
.about-mc{
    margin: 100px 5% 0 5%;
}
.about-profile{
    width: 100%;
    display: inline-block;
    position: relative;
}
.about-info{
    width: 100%;
    display: inline-block;
}
.about-name{
    margin: 5% 0;
}
.about-position{
    margin-bottom: 8%;
}
.about-body{
    margin-bottom: 8%;
    line-height: 2;
    letter-spacing: 0.02em;
}
.about-line{
    margin: 15% 30% 0 30%;
}
.about-biography{
    margin-top: 15%;
}

.bio-what{
    font-size: 2.3em; /*15px*/
    line-height: 180%;
    padding-left: 6%;
    letter-spacing: 0.01em
}
table td .bio-what-link{
    color: #00f;
}
.about-icons{
    text-align: center;
    margin: 15% 0;
}
.about-icon{
    margin-right: 6%;
}

/*=====contact=====*/
.contact-mc{
    margin: 100px 5%;
}
.contact-main-adress{
    margin-bottom: 100px;
}
.contact-bodytx{
    margin-bottom: 100px;
}
.contact-icons{
    margin-bottom: 100px;
}
.contact-icon{
    margin-right: 6%;
}
.icon-mail{ 
    width: 10%;
}
.icon-fb{
    width: 4.4%;
}
.icon-ig{
    width: 9%;
}
.icon-pin{
    width: 9.5%;
}

/*=====works=====*/
.works-mc{
    margin: 100px 5%;
    text-align: center;
}
.works-block{
    width: 100%;
    margin-bottom: 10%;
    display: inline-block;
    text-align: left;
}
.works-img{
    margin-bottom: 6%;
    width: 100%;
}
.works-top{
    margin: 0 0 50px 0;
    text-align: left;
}
.works-top-tx{
    font-size: 1.5em;
    /*    font-weight: bold;*/
    line-height: 160%;
}
.works-top-tx-highlighe{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 160%;
    color: #fff;
    background: #1c1c1c;
}
.works-top-tx-semihighlighe{
    font-size: 1em;
    font-weight: bold;
    line-height: 160%;
}

/*=====works-detail=====*/
.works-detail-mc{
    margin: 100px 5% 200px 5%;
}
.works-detail-title{
}
.works-dt-body{
    width: 100%;
    margin: 0 0 10% 0;
}
.works-dt-body-link{
    width: 100%;
    margin: 0 0 10% 0;
    color: #00f;
}
.works-dt-img{
    width: 110%;
    margin: 0 -5% 10% -5%;
}
.works-detail-info-tag{
    font-size: 2em; /*16px*/
    line-height: 160%;
    font-weight: bold;
}
.works-dt-maintitle{
    margin: 0 0 8% 0;
}
.works-dt-subtitle{
    margin: 0 0 15% 0;
    font-size: 2em;
}
.works-dt-date{
    margin: 0 0 13% 0;
}
.works-detail-subcontents{
    text-align: center;
}
.works-credit{
    margin: 0;
}
.works-detail-line{
    margin: 20% 30% 20% 30%;
}

.fotter-tx{
    font-size: 2em;
    text-align: center;
    color: #191919;
    margin-bottom: 50px;
}

